.list-view{
    -fx-background-color: derive(-fx-base,15%);
}
.item-special-button {
    -fx-pref-height: 150px;
    -fx-pref-width: 150px;
}
.list-view{
    -fx-background-color: derive(-fx-base,15%);
}

.list-cell:focused, .list-cell:filled:selected {
    -fx-background-color: derive(-fx-base,15%);
    -fx-text-fill: #292929;
}
.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}
.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}
.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
}
